{{input type="number" value=ccNumber}}

<br>

Type is:

{{! LOGO }}
<span
  class="logo {{cc-number-to-type ccNumber allowedTypes="visa|mastercard|amex|discover"}}"
>
</span>

{{! TEXT }}
{{cc-number-to-type ccNumber allowedTypes="visa|mastercard|amex|discover"}}