<h3>Card type detection</h3>
{{cc-example ccNumber=ccNumber}}

<br>
<h3>Card validity</h3>
<p>
  This is done via the
  <a
    href="https://en.wikipedia.org/wiki/Luhn_algorithm"
    target="_blank"
    rel="noopener"
  >
    Luhn algorithm
  </a>
  .
</p>

{{! template-lint-disable }}
{{partial "snippets/cc-luhn"}}
{{code-snippet name="cc-luhn.hbs"}}